<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="be.appify.framework.logging.HierarchicalAppenderDecorator">
        <appender-ref ref="CONSOLE" />
    </appender>

    <appender name="PERSISTENCE" class="be.appify.framework.logging.PersistenceAppender"/>


    <root level="debug">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="PERSISTENCE" />
    </root>
</configuration>